.heading {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid #000;
}


import React from 'react'
import Heading from './Heading'
import List from './List'

const App = () => {
  return (
    <>
    <Heading />
    <List />
    </>
  )
}

export default App;